* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
/* Background picture and font*/
body {
	background-image: url("../pics/field.jpg");
	background-size: 100%;
	font-family: verdana;
}
/* responsiveness to header image */
.headerbild {
	width: 100%;
	height: auto;
}
header {
	margin-top: 20px;
}
.white-background {
	background-color: #FFFFFF;
}
.center {
	margin-left: 10%;
	margin-right: 10%;
}
.margin-bottom {
	margin-bottom: 3px;
}
.grey-text {
	color: #a4a4a4;
}
.green-text {
	color: #81BA5F;
}
.text-center {
	text-align: center;
}
footer {
	margin-top: 10px;
	font-size: 12px;
}
/* the area where all pages are guided to */
.iframe {
	align-content: center;
	height:74vh;
	width:80%;
	border: none;
}
/* navbar for smallest devices up to 767px width*/
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li a{
	color: #81BA5F;
}
.checkbtn {
	font-size: 40px;
	cursor: pointer;
	padding-left: 10px;
}
/* disabling menu for screens larger than 768px*/
.meny, .logomeny, #check, .checkbtn {
	display: none;
}
a.nav {
	text-decoration: none;
	text-transform: uppercase;
}
a.nav:hover {
	color:#81BA5F;
	font-weight: bold;
}
@media screen and (max-width: 767px) {
	/* Values for navbar under 767px width*/
	.checkbtn {
		display: block;
   }
	ul {
		width: 80%;
		position: fixed;
		text-align: center;
		display: none;
   }
	nav ul li {
		display: block;
   }
	.logomeny, nav ul li a {
		font-size: 18px;
   }
	#check:checked ~ ul {
		display: block;
   }
}
@media screen and (min-width: 768px) {
	/* These settings changing menu on screens wider than 768px*/
	.meny {
		display: block;
		height: 20px;
		margin-top: 3px;
		padding-bottom: 3px;
   }
	.toggle-nav {
		display: none;
   }
	.logomeny {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: center;
		padding: 10px;
   }
   /* Grayscale on logos */
	img.logos {
		filter: grayscale(1) ;
		width: auto;
		height: 40px;
   }
	img.logos:hover {
		filter: grayscale(0);
		width: auto;
		height: 40px;
   }
   .iframe {
	height:70vh;
}
}
@media screen and (min-width: 1023px) {
   /* Enlarging logos on screens wider than 1024px */
	img.logos {
		height: 50px;
   }
	img.logos:hover {
		height: 50px;
   }
   /* Changing height on iframe on screens wider than 1024px*/
	.iframe {
		height:55vh;
   }
}