* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	background-image: url("../pics/field.jpg");
	font-family:  verdana;
	font-size: medium;
	height: 90vh;
  }

/* responsiveness to header image */
img.headerbild {
	width: 100%;
	height: auto;
}
.white-background {
	background-color: #FFFFFF;
}

.center {
	margin-left: 10%;
	margin-right: 10%;
}
.margin-bottom {
	margin-bottom: 3px;
}



footer {
	margin-top: 10px;
	
	}

footer p, a{
	font-size: 10px;
	color:	#a4a4a4;
	text-align: center;
}

/* content area */
.iframe 
{
align-content: center;
height:70vh;
width:80%;
}

/* div with all clubsigns */
.toggle-nav{
	margin-bottom: 3px;
}


nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li a{
	color: #81BA5F;
}

.checkbtn {
	font-size: 40px;
	color: #a4a4a4;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 10px;
	display: none;
}

#check {
	display: none;
}

.logomeny
{
	display: none;	
}

/* Grayscale on logos */
img.logos {
	filter: grayscale(1) ;
	width: auto;
	height: 50px;
	}

img.logos:hover {
	filter: grayscale(0);
	width: auto;
	height: 50px;
	}

/* navigation with text */
.meny {
	display: none;
	}

a.nav {
	color:#a4a4a4;
	text-decoration: none;
	font-family:Verdana, sans-serif;
	text-transform: uppercase;
	
}

a.nav:hover {
	color:#81BA5F;
	font-weight: bold;
}


input[type="text"] {
    background-color: #81BA5F;
    color: #FFFFFF;
    }

input[type="submit"] {
	background-color: #81BA5F;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
}

input:focus {
    background-color: #00fa25;
    color: #000000;
}
@media screen and (max-width: 767px) {
.checkbtn {
	display: block;
}

ul {
	width: 80%;
	position: fixed;
	text-align: center;
	display: none;
	transition: all .5s;
}
nav ul li {
	display: block;
}
.logomeny,
nav ul li a {
	font-size: 18px;
}

#check:checked ~ ul {
	display: block;
}
}


@media screen and (min-width: 768px) {

	.meny {
		margin-bottom: 3px;
		height: 20px;
		margin-top: 3px;
		text-align: center;
		padding-bottom: 3px;
		}

.toggle-nav {
	display: none;
}	
.iframe 
{
height:50vh;
}

.logomeny
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;	
	margin-bottom: 3px;
	padding: 10px;	
}
img.logos {
	height: 40px;
	}
}

@media screen and (min-width: 1023px) {

	img.logos {
		height: 50px;
	}

}