body {
	font-size: medium;
	font-family: verdana;
	}
.text-center {
	text-align: center
}
.green-text {color: #81BA5F;}

.flex {
	display: flex;
}
.block {
	display: block;
}
ul {
	font-style: italic;
	text-align: left;
}
.border {
	border: 2px solid #81BA5F;
	border-radius: 2%;
}
.margin {
	margin: 5px;
}



/* Mail me link */
a.link {
	text-decoration: none;
}




/* Front page divs*/
.start {
	flex-wrap: wrap;
	}


.columns {
flex-grow: 1;
flex-direction: column;
align-items: center;
padding: 10px;
margin-bottom: 5px;
flex-basis: 200px;
}


.video {
	height: 180px;
	width: 170px; 
	border:none;
	 }



.contact div {
padding: 15px;
flex-grow: 1;
justify-content: space-around;
}


/* form inputs */
input[type="text"] {
	background-color: #81BA5F;
	color: #FFFFFF;
	width: 108px;

}

input[type="placeholder"] {
	color: #FFFFFF;
}

/* submit button */
input[type="submit"] {

	background-color: #81BA5F;
	color: #FFFFFF;
	border: none;	
}

input:focus {
	background-color: #00fa25;
	color: #000000;
}



@media screen and (min-width: 768px) {

}
