body {
	font-size: medium;
	font-family: verdana;
	}

h2 {
	color: #81BA5F;
}

li {
	font-style: italic;
}


/* Mail me link */
a#link {
	text-decoration: none;
	color: #81BA5F;
}

/* Creating a gap between iframe and footer */
footer {
	margin-top: 20px;
}

/* Content area */

.iframe {
	background-color: white;
	align-content: center;
	margin-left: 250px;
	margin-right: 250px;
}

/* putting logos into the middle */
.logomeny {
	margin-left: 250px;
	margin-right: 250px;
}


/* Front page divs*/
#start {
	display: flex;
	flex-wrap: wrap;
	}


#start div {
border: 2px solid #81BA5F;
border-radius: 2%;
flex-grow: 1;
flex-direction: column;
align-items: center;
padding: 10px;
margin-bottom: 5px;
flex-basis: 200px;
}

#start h3, p {
	text-align: center;
}

#start iframe {
	width: 80%;
	height:200px; 
	border:none;
	overflow:hidden; 
	}



#start-info,
#start-what,
#start-video,
#input {
	display: flex;
	}

form {
	margin-top: 0;
	margin-left: 10%;
	margin-right: 10%;
}

	/* Contact div */
#contact {
	display: flex;
}

#contact div {
border: 2px solid #81BA5F;
border-radius: 2%;
padding: 15px;
text-align: center;
flex-grow: 1;
justify-content: space-around;
}

#input-select {
	margin-left: 15%;
}

/* form inputs */
input[type="text"] {
	background-color: #81BA5F;
	color: #FFFFFF;
	width: 108px;
	margin-left: 25%;

}

input[type="placeholder"] {
	color: #FFFFFF;
}

/* submit button */
input[type="submit"] {

	background-color: #81BA5F;
	color: white;
	border: none;
	border-radius: 2px;
	margin-left: 25%;
	
}

input:focus {
	background-color: #00fa25;
	color: black;
}

/* adding margins to divs on start page + enlarger videoframe on bigger screens*/
@media screen and (min-width: 600px) {
	#start div{
		margin: 5px;
	}

	#start iframe {
		width: 200px;
	}
}