body {
	font-size: medium;
	font-family: verdana;
	}
.text-center {
	text-align: center
}
.green-text {color: #81BA5F;}

.flex {display: flex;}

ul {
	font-style: italic;
	text-align: left;
}



/* Mail me link */
a.link {
	text-decoration: none;
}




/* Front page divs*/
.start {
	display: flex;
	flex-wrap: wrap;
	}


.start div {
border: 2px solid #81BA5F;
border-radius: 2%;
flex-grow: 1;
flex-direction: column;
align-items: center;
padding: 10px;
margin-bottom: 5px;
flex-basis: 200px;
}


.start iframe {
	width: 80%;
	height:200px; 
	border:none;
	overflow:hidden; 
	}


form {
	display: block;
}

	/* Contact div */
.contact {
	display: block
}

.contact div {
border: 2px solid #81BA5F;
border-radius: 2%;
padding: 15px;
flex-grow: 1;
justify-content: space-around;
}


/* form inputs */
input[type="text"] {
	background-color: #81BA5F;
	color: #FFFFFF;
	width: 108px;

}

input[type="placeholder"] {
	color: #FFFFFF;
}

/* submit button */
input[type="submit"] {

	background-color: #81BA5F;
	color: #FFFFFF;
	border: none;
	border-radius: 2px;
	
}

input:focus {
	background-color: #00fa25;
	color: #000000;
}

/* adding margins to divs on start page + enlarger videoframe on bigger screens*/
@media screen and (min-width: 600px) {
	#start div{
		margin: 5px;
	}

	#start iframe {
		width: 200px;
	}
}