body {
    font-family: Verdana;
    text-align: left;
}
/* This fixing the logo to float at the top right side of the text with a fixed max-width*/
.logo {
    float: right;
    max-width: 150px;
    height: auto;
}
.bold {
    font-weight: bold;
}
.link {
    text-decoration: none;
    color: #000000;
}
h1 {
    font-size: 25px;
    text-align: left;
}
span {
    font-size: 15px;
}
.svar {
    font-size: 13px;
    font-style: italic;
}
/*Teams font-colors*/
.sommen {
    color: #003499;
}
.annebergs {
    color: #0067B2;
}
.svart {
    color: #000000;
}
.ekenassjon {
    color: #E31D1A;
}
.balaryd {
    color: #36A544;
}
.holsby {
    color: #D01014;
}
.eksjo {
    color: #9E293C;
}
.lekeryd {
    color: #154F99;
}
.solberga {
    color: #C3170B;
}
/* This will make scoretext certical centered to the logo */
.scores {
    height: 30px;
    width: auto;
    vertical-align: middle;
}
